html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
/* 
body{
} */

#intro{
  /* background-image: url('https://wallpapers.com/images/hd/patriotic-raised-flag-4ev7aay41oyt42ka.jpg'); */
  background-image: url('title3.png');
  background-color: #F4F2F2;
  background-size: cover;
  margin:-1%;
 
}
#candidates{
  background-color:#F4F2F2;
  margin:-1%;
  display: flex; 
  padding-top: 5%;
}
.title{
  display: flex;
  justify-content: center;
  /* align-content: center; */
  width: 90%;
}

.top-nav {
  background-color: #2D8BBA;
  /* overflow: hidden; */
  opacity: 0.8;
  /* width: 100%; */
  display:flex;
  justify-content: space-around;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
}
.top-nav a {
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-weight: bold;
}
.top-nav a:hover{
  color: #D65449;
}

.menu{
  list-style-type: none;
}

.meet{
  height: 200px;
}
.down-arrow {
  position: absolute;
  top: calc(100vh - 60px);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}
.scroll-down {
  position: absolute;
  /* left: 50%; */
  bottom: 10px;
  display: block;
  text-align: center;
  font-size: 20px;
  /* z-index: 100; */
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #203847;
  border-right: 2px solid #203847;
  z-index: 9;
  left: 50%;
  
  /* transition-duration:20s; */
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 10s ease-in-out infinite;
  -moz-animation:    fade_move_down 10s ease-in-out infinite;
  animation:         fade_move_down 10s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
/* 
.down-arrow{
  left: 50%;
  margin-left: -36px;
  bottom: 14px;
  width: 72px;
  height: 36px;
  -webkit-transition: visibility .4s ease-out, -webkit-transform .3s ease;
  transition: visibility .4s ease-out, transform .3s ease;
} */
.img{
  display:flex;
   padding-left: 20px;
}

.img2 {
  display: flex;
  object-fit: cover;
  height: 750px;
  justify-content: space-between;
  width: 500px;
  margin: 10px;
  justify-items: center;
}

.column{
  display: flex;
  flex-direction: column;
  width: 380px;
  margin-bottom: 50px;
}
/* use this for the weird circle thing */
#box1 {
  border-radius: 30px;
  background: #9FCEF4;
  padding: 30px; 
  width: 300px;
  height: 450px;
  color: white;
  margin-top: 25px;
  margin-left: 100px;
}

#box2 {
  border-radius: 30px;
  background: #D65449;
  padding: 30px; 
  width: 300px;
  height: 450px;
  color: white;
  margin-top: -470px;
  margin-left: 760px;
}


/* Style the form element with a border around it */
form {
  border: 4px solid #f1f1f1;
}

/* Add some padding and a grey background color to containers */
.container {
  padding: 20px;
  background-color: #f1f1f1;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: maroon;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.learnMoreButton {
  background-color: rgb(150, 0, 11);
  margin-top: 50px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  color: white;
  border-color: white;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 500px;
  height: 750px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #203847;
  color: white;
  transform: rotateY(180deg);
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 3s;
}
.show{
  opacity:1;
  filter: blur(0);
  transform: translateX(0);
}
